ambit2-www/src/main/resources/schema/FeatureDefinition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentox.org/FeatureDefinition/1.0"
	xmlns:tns="http://www.opentox.org/FeatureDefinition/1.0" elementFormDefault="qualified">

	<complexType name="FeatureDefinition">
		<attribute name="ID" type="string"  use="required"></attribute>
		<attribute name="Name" type="string"  use="required"></attribute>
		<attribute name="Reference" type="string" use="required"></attribute>
		<attribute name="Type" type="string" use="required"></attribute>
	</complexType>
	<!-- 
	Replace Reference with embedded element from reference, or at least url
	 -->
</schema>
