ambit2-www/src/main/resources/schema/Feature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://opentox.org/1.0"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://opentox.org/1.0">

	<complexType name="Feature">
		<attribute name="link" type="anyURI"></attribute>
		<attribute name="ID" type="string"></attribute>
		<attribute name="StructureID" type="string"></attribute>
		<attribute name="Value" type="string"></attribute>    	
	</complexType>

</schema>
