ambit2-www/src/main/resources/schema/Reference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentox.org/Reference/1.0"
	xmlns:tns="http://www.opentox.org/Reference/1.0" elementFormDefault="qualified">

	<complexType name="Reference">
		<attribute name="ID" type="string"  use="required"></attribute>
		<attribute name="Name" type="string"  use="required"></attribute>
		<attribute name="AlgorithmID" type="string"  use="optional"></attribute>
		<attribute name="Parameters" type="string" use="optional"></attribute>
		<attribute name="ExperimentalProtocol" type="string" use="optional"></attribute>
	</complexType>

</schema>
