ambit2-www/src/main/resources/schema/Reference.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://opentox.org/Reference"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:otref="http://opentox.org/Reference"
	xmlns:otalg="http://opentox.org/Algorithm">

	<complexType name="Reference">
		<attribute name="link" type="anyURI"></attribute>	
		<attribute name="ID" type="string"></attribute>
		<attribute name="Name" type="string"></attribute>
        <attribute name="AlgorithmID" type="anyURI"></attribute>
		<attribute name="Parameters" type="string"></attribute>
		<attribute name="ExperimentalProtocol" type="string"></attribute>
	</complexType>

</schema>
