ambit2-all/ambit2-db/src/test/resources/ambit2/db/processors/test/partial-dataset.dtd

<!ELEMENT dataset (
    users*,
    roles*,
    user_roles*,
    catalog_references*,
    chemicals*,
    structure*,
    properties*,
    template*,
    template_def*,
    dictionary*,
    src_dataset*,
    tuples*,
    struc_dataset*,
    fp1024*,
    sk1024*)>

<!ELEMENT users EMPTY>
<!ATTLIST users
    user_name CDATA #REQUIRED
    password CDATA #REQUIRED
    email CDATA #REQUIRED
    registration_status CDATA #REQUIRED
    registration_date CDATA #REQUIRED
    registration_id CDATA #IMPLIED
    title CDATA #REQUIRED
    firstname CDATA #REQUIRED
    lastname CDATA #REQUIRED
    address CDATA #REQUIRED
    country CDATA #REQUIRED
    webpage CDATA #REQUIRED
    affiliation CDATA #REQUIRED
    keywords CDATA #IMPLIED
    reviewer CDATA #REQUIRED
>

<!ELEMENT roles EMPTY>
<!ATTLIST roles
    role_name CDATA #REQUIRED
>

<!ELEMENT user_roles EMPTY>
<!ATTLIST user_roles
    user_name CDATA #REQUIRED
    role_name CDATA #REQUIRED
>

<!ELEMENT catalog_references EMPTY>
<!ATTLIST catalog_references
    idreference CDATA #REQUIRED
    title CDATA #REQUIRED
    url CDATA #REQUIRED
    type CDATA #REQUIRED
>

<!ELEMENT chemicals EMPTY>
<!ATTLIST chemicals
    idchemical CDATA #REQUIRED
    inchi CDATA #IMPLIED
    smiles CDATA #IMPLIED
    formula CDATA #IMPLIED
    hashcode CDATA #REQUIRED
    label CDATA #REQUIRED
>

<!ELEMENT structure EMPTY>
<!ATTLIST structure
    idstructure CDATA #REQUIRED
    idchemical CDATA #REQUIRED
    structure CDATA #REQUIRED
    format CDATA #REQUIRED
    user_name CDATA #IMPLIED
    type_structure CDATA #REQUIRED
    atomproperties CDATA #IMPLIED
>

<!ELEMENT properties EMPTY>
<!ATTLIST properties
    idproperty CDATA #REQUIRED
    idreference CDATA #REQUIRED
    name CDATA #REQUIRED
    units CDATA #REQUIRED
    comments CDATA #REQUIRED
    islocal CDATA #REQUIRED
>

<!ELEMENT template EMPTY>
<!ATTLIST template
    idtemplate CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT template_def EMPTY>
<!ATTLIST template_def
    idtemplate CDATA #REQUIRED
    idproperty CDATA #REQUIRED
>

<!ELEMENT dictionary EMPTY>
<!ATTLIST dictionary
    idsubject CDATA #REQUIRED
    relationship CDATA #REQUIRED
    idobject CDATA #REQUIRED
>

<!ELEMENT src_dataset EMPTY>
<!ATTLIST src_dataset
    id_srcdataset CDATA #REQUIRED
    name CDATA #REQUIRED
    user_name CDATA #IMPLIED
    idreference CDATA #REQUIRED
>

<!ELEMENT tuples EMPTY>
<!ATTLIST tuples
    idtuple CDATA #REQUIRED
    id_srcdataset CDATA #REQUIRED
>

<!ELEMENT struc_dataset EMPTY>
<!ATTLIST struc_dataset
    idstructure CDATA #REQUIRED
    id_srcdataset CDATA #REQUIRED
>

<!ELEMENT fp1024 EMPTY>
<!ATTLIST fp1024
    idchemical CDATA #REQUIRED
    fp1 CDATA #REQUIRED
    fp2 CDATA #REQUIRED
    fp3 CDATA #REQUIRED
    fp4 CDATA #REQUIRED
    fp5 CDATA #REQUIRED
    fp6 CDATA #REQUIRED
    fp7 CDATA #REQUIRED
    fp8 CDATA #REQUIRED
    fp9 CDATA #REQUIRED
    fp10 CDATA #REQUIRED
    fp11 CDATA #REQUIRED
    fp12 CDATA #REQUIRED
    fp13 CDATA #REQUIRED
    fp14 CDATA #REQUIRED
    fp15 CDATA #REQUIRED
    fp16 CDATA #REQUIRED
    time CDATA #IMPLIED
    bc CDATA #REQUIRED
    status CDATA #REQUIRED
>

<!ELEMENT sk1024 EMPTY>
<!ATTLIST sk1024
    idchemical CDATA #REQUIRED
    fp1 CDATA #REQUIRED
    fp2 CDATA #REQUIRED
    fp3 CDATA #REQUIRED
    fp4 CDATA #REQUIRED
    fp5 CDATA #REQUIRED
    fp6 CDATA #REQUIRED
    fp7 CDATA #REQUIRED
    fp8 CDATA #REQUIRED
    fp9 CDATA #REQUIRED
    fp10 CDATA #REQUIRED
    fp11 CDATA #REQUIRED
    fp12 CDATA #REQUIRED
    fp13 CDATA #REQUIRED
    fp14 CDATA #REQUIRED
    fp15 CDATA #REQUIRED
    fp16 CDATA #REQUIRED
    time CDATA #IMPLIED
    bc CDATA #REQUIRED
    status CDATA #REQUIRED
>

