ambit2-db/src/test/resources/ambit2/db/processors/test/partial-dataset.dtd

<!ELEMENT dataset (
    users*,
    roles*,
    user_roles*,
    catalog_references*,
    chemicals*,
    structure*,
    properties*,
    template*,
    template_def*,
    dictionary*,
    src_dataset*,
    tuples*,
    property_string*,
    property_values*,
    property_tuples*,
    struc_dataset*,
    sessions*,
    query*,
    query_results*)>

<!ELEMENT users EMPTY>
<!ATTLIST users
    user_name CDATA #REQUIRED
    password CDATA #REQUIRED
    email CDATA #REQUIRED
    registration_status CDATA #REQUIRED
    registration_date CDATA #REQUIRED
    registration_id CDATA #IMPLIED
    title CDATA #REQUIRED
    firstname CDATA #REQUIRED
    lastname CDATA #REQUIRED
    address CDATA #REQUIRED
    country CDATA #REQUIRED
    webpage CDATA #REQUIRED
    affiliation CDATA #REQUIRED
    keywords CDATA #IMPLIED
    reviewer CDATA #REQUIRED
>

<!ELEMENT roles EMPTY>
<!ATTLIST roles
    role_name CDATA #REQUIRED
>

<!ELEMENT user_roles EMPTY>
<!ATTLIST user_roles
    user_name CDATA #REQUIRED
    role_name CDATA #REQUIRED
>

<!ELEMENT catalog_references EMPTY>
<!ATTLIST catalog_references
    idreference CDATA #REQUIRED
    title CDATA #REQUIRED
    url CDATA #REQUIRED
>

<!ELEMENT chemicals EMPTY>
<!ATTLIST chemicals
    idchemical CDATA #REQUIRED
    inchi CDATA #IMPLIED
    smiles CDATA #IMPLIED
    formula CDATA #IMPLIED
    hashcode CDATA #REQUIRED
    label CDATA #REQUIRED
>

<!ELEMENT structure EMPTY>
<!ATTLIST structure
    idstructure CDATA #REQUIRED
    idchemical CDATA #REQUIRED
    structure CDATA #REQUIRED
    format CDATA #REQUIRED
    updated CDATA #REQUIRED
    user_name CDATA #IMPLIED
    type_structure CDATA #REQUIRED
>

<!ELEMENT properties EMPTY>
<!ATTLIST properties
    idproperty CDATA #REQUIRED
    idreference CDATA #REQUIRED
    name CDATA #REQUIRED
    units CDATA #REQUIRED
    comments CDATA #REQUIRED
    islocal CDATA #REQUIRED
>

<!ELEMENT template EMPTY>
<!ATTLIST template
    idtemplate CDATA #REQUIRED
    name CDATA #IMPLIED
>

<!ELEMENT template_def EMPTY>
<!ATTLIST template_def
    idtemplate CDATA #REQUIRED
    idproperty CDATA #REQUIRED
>

<!ELEMENT dictionary EMPTY>
<!ATTLIST dictionary
    idsubject CDATA #REQUIRED
    relationship CDATA #REQUIRED
    idobject CDATA #REQUIRED
>

<!ELEMENT src_dataset EMPTY>
<!ATTLIST src_dataset
    id_srcdataset CDATA #REQUIRED
    name CDATA #REQUIRED
    user_name CDATA #IMPLIED
    idreference CDATA #REQUIRED
    created CDATA #REQUIRED
>

<!ELEMENT tuples EMPTY>
<!ATTLIST tuples
    idtuple CDATA #REQUIRED
    id_srcdataset CDATA #REQUIRED
>

<!ELEMENT property_string EMPTY>
<!ATTLIST property_string
    idvalue_string CDATA #REQUIRED
    value CDATA #REQUIRED
>

<!ELEMENT property_values EMPTY>
<!ATTLIST property_values
    id CDATA #REQUIRED
    idproperty CDATA #REQUIRED
    idstructure CDATA #REQUIRED
    idvalue_string CDATA #IMPLIED
    value_num CDATA #IMPLIED
    status CDATA #REQUIRED
    user_name CDATA #REQUIRED
>

<!ELEMENT property_tuples EMPTY>
<!ATTLIST property_tuples
    idtuple CDATA #REQUIRED
    id CDATA #REQUIRED
>

<!ELEMENT struc_dataset EMPTY>
<!ATTLIST struc_dataset
    idstructure CDATA #REQUIRED
    id_srcdataset CDATA #REQUIRED
    created CDATA #REQUIRED
>

<!ELEMENT sessions EMPTY>
<!ATTLIST sessions
    idsessions CDATA #REQUIRED
    user_name CDATA #REQUIRED
>

<!ELEMENT query EMPTY>
<!ATTLIST query
    idquery CDATA #REQUIRED
    idsessions CDATA #REQUIRED
    name CDATA #REQUIRED
    content CDATA #REQUIRED
>

<!ELEMENT query_results EMPTY>
<!ATTLIST query_results
    idquery CDATA #REQUIRED
    idchemical CDATA #REQUIRED
    idstructure CDATA #REQUIRED
    selected CDATA #REQUIRED
    metric CDATA #REQUIRED
>

