ambit2-all/ambit2-www/src/main/resources/schema/Algorithm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://opentox.org/Algorithm"
	xmlns:otalg="http://opentox.org/Algorithm" elementFormDefault="qualified">

	<complexType name="Algorithm">
		<attribute name="link" type="anyURI"></attribute>
		<attribute name="ID" type="string"></attribute>
		<attribute name="Name" type="string"></attribute>
		<attribute name="AlgorithmType" type="string"></attribute>
		<attribute name="Parameters" type="string"></attribute>
		<attribute name="statisticsSupported" type="string"></attribute>
	</complexType>

</schema>
