ambit2-all/ambit2-www/src/main/resources/schema/Feature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentox.org/Feature/1.0"
	xmlns:tns="http://www.opentox.org/Feature/1.0" 
	xmlns:fd="http://www.opentox.org/FeatureDefinition/1.0" 
	elementFormDefault="qualified">

	<complexType name="Feature">
		<attribute name="ID" type="string"  use="required" ></attribute>
		<attribute name="CompoundID" type="string"  use="required"></attribute>
		<attribute name="Value" type="string"  use="required"></attribute>
		<attribute name="ConformerID" type="string"  use="optional"></attribute>
	</complexType>

</schema>
