ambit2/data/pug/pug.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "pc_tools.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.2
     ::DATATOOL:: on 05/10/2007 15:32:06
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-PCTools"
================================================= -->

<!--
 $Id: pc_tools.dtd 103833 2007-05-10 19:33:34Z thiessen $
 ===========================================================================

                            PUBLIC DOMAIN NOTICE
               National Center for Biotechnology Information

  This software/database is a "United States Government Work" under the
  terms of the United States Copyright Act.  It was written as part of
  the author's official duties as a United States Government employee and
  thus cannot be copyrighted.  This software/database is freely available
  to the public for use. The National Library of Medicine and the U.S.
  Government have not placed any restriction on its use or reproduction.

  Although all reasonable efforts have been taken to ensure the accuracy
  and reliability of the software and data, the NLM and the U.S.
  Government do not and cannot warrant the performance or results that
  may be obtained by using this software or data. The NLM and the U.S.
  Government disclaim all warranties, express or implied, including
  warranties of performance, merchantability or fitness for any particular
  purpose.

  Please cite the author in any work or product based on this material.

 ===========================================================================

  Definitions for communication data for various PubChem tools

  Note that pc_tools.dtd is generated automatically from pc_tools.asn,
  so if you make changes to pc_tools.asn, please regenerate the DTD
  (and check it in, in parallel with the .asn to maintain version
  correspondence), using the command:

    datatool -m pc_tools.asn -fx pc_tools.dtd

  and the XML Schema version by:

    datatool -m pc_tools.asn -fxs pc_tools.xsd -xmlns "http://pubchem.ncbi.nlm.nih.gov/pug/"

  Please keep these data structures fairly simple, as there are many
  subtleties of ASN.1 that are not handled by an XML DTD. In particular,
  default values are not handled well in XML.

  by NCBI Structure Group

  National Center for Biotechnology Information
  National Institutes of Health
  Bethesda, MD 20894 USA

 ===========================================================================
-->

<!-- {Input, Output} Top level object -->
<!ELEMENT PCT-Data (
        PCT-Data_input | 
        PCT-Data_output)>

<!ELEMENT PCT-Data_input (PCT-InputData)> <!-- incoming object (users only ever send input) -->

<!ELEMENT PCT-Data_output (PCT-OutputData)> <!-- outgoing object (users only ever receive output) -->

<!-- {Input} Primary input object -->
<!ELEMENT PCT-InputData (
        PCT-InputData_request | 
        PCT-InputData_query | 
        PCT-InputData_download)>

<!ELEMENT PCT-InputData_request (PCT-Request)> <!-- request management -->

<!ELEMENT PCT-InputData_query (PCT-Query)> <!-- perform query -->

<!ELEMENT PCT-InputData_download (PCT-Download)> <!-- download data -->

<!-- {Output} Primary output object -->
<!ELEMENT PCT-OutputData (
        PCT-OutputData_status, 
        PCT-OutputData_output?)>

<!ELEMENT PCT-OutputData_status (PCT-Status-Message)> <!-- status of the request -->
<!-- result or information regarding request -->
<!ELEMENT PCT-OutputData_output (
        PCT-OutputData_output_waiting | 
        PCT-OutputData_output_download-url | 
        PCT-OutputData_output_ids | 
        PCT-OutputData_output_entrez)>

<!--
 request handling
 request id for new task
-->
<!ELEMENT PCT-OutputData_output_waiting (PCT-Waiting)>

<!--
 result objects
 output is located at provided URL
-->
<!ELEMENT PCT-OutputData_output_download-url (PCT-Download-URL)>

<!ELEMENT PCT-OutputData_output_ids (PCT-ID-List)> <!-- output is a list of ids -->

<!ELEMENT PCT-OutputData_output_entrez (PCT-Entrez)> <!-- output is an Entrez history -->

<!-- {Input} Manage outstanding requests -->
<!ELEMENT PCT-Request (
        PCT-Request_reqid, 
        PCT-Request_type)>

<!ELEMENT PCT-Request_reqid (#PCDATA)> <!-- request id to operate on -->
<!-- task to perform on request -->
<!ELEMENT PCT-Request_type EMPTY>

<!--
    status	-  determine the completion status
    cancel	-  cancel the request, if not completed
-->
<!ATTLIST PCT-Request_type value (
        unknown |
        status |
        cancel
        ) #REQUIRED >


<!-- {Output} Status message of the task -->
<!ELEMENT PCT-Status-Message (
        PCT-Status-Message_status, 
        PCT-Status-Message_message?)>

<!ELEMENT PCT-Status-Message_status (PCT-Status)> <!-- task status -->

<!ELEMENT PCT-Status-Message_message (#PCDATA)> <!-- message qualifying the status -->

<!-- {Output} Status of the task -->
<!ELEMENT PCT-Status EMPTY>

<!--
    success	-  task completed successfully
    server-error	-  request completion
         general server failure
    hit-limit	-  success, but hit limit reached
    time-limit	-  success, but time limit reached
    input-error	-  input errors
         problem with input options
    data-error	-  problem with input data
    stopped	-  request management status
         request was stopped
    running	-  request is running
    queued	-  request is queued
-->
<!ATTLIST PCT-Status value (
        unknown |
        success |
        server-error |
        hit-limit |
        time-limit |
        input-error |
        data-error |
        stopped |
        running |
        queued
        ) #REQUIRED >


<!-- {Output} Request ID and qualifying message for new task -->
<!ELEMENT PCT-Waiting (
        PCT-Waiting_reqid, 
        PCT-Waiting_message?)>

<!ELEMENT PCT-Waiting_reqid (#PCDATA)> <!-- request id, required to obtain results or status -->

<!ELEMENT PCT-Waiting_message (#PCDATA)> <!-- qualifying message regarding new request -->

<!-- {Input} Download data -->
<!ELEMENT PCT-Download (
        PCT-Download_uids, 
        PCT-Download_format, 
        PCT-Download_compression)>

<!ELEMENT PCT-Download_uids (PCT-QueryUids)> <!-- record identifiers to download -->
<!-- format of the data to be downloaded, if supported by the service -->
<!ELEMENT PCT-Download_format EMPTY>

<!--
    text-asn	-  textual ASN.1
    binary-asn	-  binary ASN.1
    xml	-  textual XML
    sdf	-  SD file format, for chemical structures
-->
<!ATTLIST PCT-Download_format value (
        text-asn |
        binary-asn |
        xml |
        sdf
        ) #REQUIRED >

<!-- compression type of the data to be downloaded -->
<!ELEMENT PCT-Download_compression EMPTY>

<!--
    none	-  no compression
    gzip	-  gzip format
    bzip2	-  bzip2 format
-->
<!ATTLIST PCT-Download_compression value (
        none |
        gzip |
        bzip2
        ) #REQUIRED >


<!-- {Output} Results are available by using the provided URL -->
<!ELEMENT PCT-Download-URL (
        PCT-Download-URL_url, 
        PCT-Download-URL_message?)>

<!ELEMENT PCT-Download-URL_url (#PCDATA)> <!-- location of the result -->

<!ELEMENT PCT-Download-URL_message (#PCDATA)> <!-- qualifying message -->

<!-- {Input, Output} Unique identifier list -->
<!ELEMENT PCT-ID-List (
        PCT-ID-List_db, 
        PCT-ID-List_uids)>

<!ELEMENT PCT-ID-List_db (#PCDATA)> <!-- id list qualifier, e.g., Entrez database name -->

<!ELEMENT PCT-ID-List_uids (PCT-ID-List_uids_E*)> <!-- id list may be empty, if no hits found -->


<!ELEMENT PCT-ID-List_uids_E (#PCDATA)>

<!-- {Input} Query reqest -->
<!ELEMENT PCT-Query (
        PCT-Query_type, 
        PCT-Query_subset?)>

<!ELEMENT PCT-Query_type (PCT-QueryType*)> <!-- query to be performed -->

<!ELEMENT PCT-Query_subset (PCT-QueryUids)> <!-- id subset to query against, entire DB used if empty -->

<!-- Holder for groups of Queries (for internal use only) -->
<!ELEMENT PCT-Queries (PCT-Query*)>

<!-- {Input} Query task to perform -->
<!ELEMENT PCT-QueryType (
        PCT-QueryType_css | 
        PCT-QueryType_cel)>

<!ELEMENT PCT-QueryType_css (PCT-QueryCompoundCS)> <!-- PubChem Compound chemical structure search -->

<!ELEMENT PCT-QueryType_cel (PCT-QueryCompoundEL)> <!-- PubChem Compound Entrez limits search -->

<!-- {Input, Output} Unique identifier subset -->
<!ELEMENT PCT-QueryUids (
        PCT-QueryUids_entrez | 
        PCT-QueryUids_ids)>

<!ELEMENT PCT-QueryUids_entrez (PCT-Entrez)> <!-- Entrez history -->

<!ELEMENT PCT-QueryUids_ids (PCT-ID-List)> <!-- UID list -->

<!-- {Input, Output} Entrez (history) search description -->
<!ELEMENT PCT-Entrez (
        PCT-Entrez_db, 
        PCT-Entrez_query-key?, 
        PCT-Entrez_webenv?, 
        PCT-Entrez_count?)>

<!ELEMENT PCT-Entrez_db (#PCDATA)> <!-- Entrez database identifier -->

<!ELEMENT PCT-Entrez_query-key (#PCDATA)> <!-- Entrez history search query key -->

<!ELEMENT PCT-Entrez_webenv (#PCDATA)> <!-- Entrez history web environment -->

<!ELEMENT PCT-Entrez_count (#PCDATA)> <!-- Entrez history record count -->

<!-- {Input} PubChem Compound chemical structure query description -->
<!ELEMENT PCT-QueryCompoundCS (
        PCT-QueryCompoundCS_query, 
        PCT-QueryCompoundCS_type, 
        PCT-QueryCompoundCS_time?, 
        PCT-QueryCompoundCS_results?)>
<!-- chemical structure query -->
<!ELEMENT PCT-QueryCompoundCS_query (
        PCT-QueryCompoundCS_query_file | 
        PCT-QueryCompoundCS_query_data | 
        PCT-QueryCompoundCS_query_multi)>

<!ELEMENT PCT-QueryCompoundCS_query_file (#PCDATA)> <!-- query is a file -->

<!ELEMENT PCT-QueryCompoundCS_query_data (#PCDATA)> <!-- query is a string -->

<!ELEMENT PCT-QueryCompoundCS_query_multi (PCT-QueryCompoundCS_query_multi_E*)> <!-- multiple queries as strings, one per line -->


<!ELEMENT PCT-QueryCompoundCS_query_multi_E (#PCDATA)>
<!-- chemical structure search type options -->
<!ELEMENT PCT-QueryCompoundCS_type (
        PCT-QueryCompoundCS_type_identical | 
        PCT-QueryCompoundCS_type_subss | 
        PCT-QueryCompoundCS_type_supss | 
        PCT-QueryCompoundCS_type_similar | 
        PCT-QueryCompoundCS_type_formula)>

<!ELEMENT PCT-QueryCompoundCS_type_identical (PCT-CSIdentity)> <!-- structure identity query -->

<!ELEMENT PCT-QueryCompoundCS_type_subss (PCT-CSStructure)> <!-- substructure query -->

<!ELEMENT PCT-QueryCompoundCS_type_supss (PCT-CSStructure)> <!-- superstructure query -->

<!ELEMENT PCT-QueryCompoundCS_type_similar (PCT-CSSimilarity)> <!-- similarity search query -->

<!ELEMENT PCT-QueryCompoundCS_type_formula (PCT-CSMolFormula)> <!-- molecular formula query -->

<!ELEMENT PCT-QueryCompoundCS_time (#PCDATA)> <!-- time limit (in CPU seconds) -->

<!ELEMENT PCT-QueryCompoundCS_results (#PCDATA)> <!-- hit limit count -->

<!-- {Input} PubChem Compound chemical structure identity search options -->
<!ELEMENT PCT-CSIdentity (#PCDATA)>

<!--
    same-connectivity	-  must have same connectivity
    any-tautomer	-  can be a tautomer of query, ignores stereo and isotopic substitution
    same-stereo	-  must have same connectivity and stereo
    same-isotope	-  must have same connectivity and isotopic substitutions
    same-stereo-isotope	-  must have same connectivity, stereo, and isotopic substitutions
    same-nonconflict-stereo	-  must have same connectivity and non-conflicting stereo
    same-isotope-nonconflict-stereo	-  must have same connectivity, isotopic substitutions and non-conflicting stereo
-->
<!ATTLIST PCT-CSIdentity value (
        undefined |
        same-connectivity |
        any-tautomer |
        same-stereo |
        same-isotope |
        same-stereo-isotope |
        same-nonconflict-stereo |
        same-isotope-nonconflict-stereo
        ) #IMPLIED >


<!-- {Input} PubChem Compound chemical structure molecular formula search options -->
<!ELEMENT PCT-CSMolFormula (
        PCT-CSMolFormula_allow-other?)>

<!ELEMENT PCT-CSMolFormula_allow-other EMPTY> <!-- are elements not specified allowed to be present in the result -->
<!ATTLIST PCT-CSMolFormula_allow-other value ( true | false ) #REQUIRED >


<!-- {Input} PubChem Compound chemical structure similarity search options -->
<!ELEMENT PCT-CSSimilarity (
        PCT-CSSimilarity_threshold)>

<!ELEMENT PCT-CSSimilarity_threshold (#PCDATA)> <!-- similarity search Tanimoto threshold -->

<!-- {Input} PubChem Compound chemical structure substructure and superstructure search options -->
<!ELEMENT PCT-CSStructure (
        PCT-CSStructure_stereo?, 
        PCT-CSStructure_isotopes?, 
        PCT-CSStructure_charges?, 
        PCT-CSStructure_tautomers?, 
        PCT-CSStructure_rings?, 
        PCT-CSStructure_bonds?, 
        PCT-CSStructure_chains?, 
        PCT-CSStructure_hydrogen?)>
<!-- stereo search options -->
<!ELEMENT PCT-CSStructure_stereo (#PCDATA)>

<!--
    ignore	-  ignore stereochemistry (default, if not specified)
    exact	-  match exact stereochemistry
    relative	-  match relative stereochemistry
    non-conflicting	-  match specified or non-specific stereo exactly
-->
<!ATTLIST PCT-CSStructure_stereo value (
        ignore |
        exact |
        relative |
        non-conflicting
        ) #IMPLIED >


<!ELEMENT PCT-CSStructure_isotopes EMPTY> <!-- match isotopes           (default false) -->
<!ATTLIST PCT-CSStructure_isotopes value ( true | false ) #REQUIRED >


<!ELEMENT PCT-CSStructure_charges EMPTY> <!-- match charges            (default false) -->
<!ATTLIST PCT-CSStructure_charges value ( true | false ) #REQUIRED >


<!ELEMENT PCT-CSStructure_tautomers EMPTY> <!-- match tautomers          (default false) -->
<!ATTLIST PCT-CSStructure_tautomers value ( true | false ) #REQUIRED >


<!ELEMENT PCT-CSStructure_rings EMPTY> <!-- ringsystems not embedded (default false) -->
<!ATTLIST PCT-CSStructure_rings value ( true | false ) #REQUIRED >


<!ELEMENT PCT-CSStructure_bonds EMPTY> <!-- singe/double bonds match (default true) -->
<!ATTLIST PCT-CSStructure_bonds value ( true | false ) #REQUIRED >


<!ELEMENT PCT-CSStructure_chains EMPTY> <!-- chain bonds match rings  (default true) -->
<!ATTLIST PCT-CSStructure_chains value ( true | false ) #REQUIRED >


<!ELEMENT PCT-CSStructure_hydrogen EMPTY> <!-- strip hydrogens          (default false) -->
<!ATTLIST PCT-CSStructure_hydrogen value ( true | false ) #REQUIRED >


<!-- {Input} PubChem Compound Entrez limits page query -->
<!ELEMENT PCT-QueryCompoundEL (
        PCT-QueryCompoundEL_property | 
        PCT-QueryCompoundEL_element | 
        PCT-QueryCompoundEL_atomstereo | 
        PCT-QueryCompoundEL_bondstereo | 
        PCT-QueryCompoundEL_activity | 
        PCT-QueryCompoundEL_links | 
        PCT-QueryCompoundEL_category | 
        PCT-QueryCompoundEL_source)>

<!ELEMENT PCT-QueryCompoundEL_property (PCT-CLByProperty)> <!-- PubChem Compound Entrez limits by property -->

<!ELEMENT PCT-QueryCompoundEL_element (PCT-CLByChemicalElement)> <!-- PubChem Compound Entrez limits by chemical element -->

<!ELEMENT PCT-QueryCompoundEL_atomstereo (PCT-CLByStereo)> <!-- PubChem Compound Entrez limits by atom chiral centers -->

<!ELEMENT PCT-QueryCompoundEL_bondstereo (PCT-CLByStereo)> <!-- PubChem Compound Entrez limits by E/Z bond isomers -->

<!ELEMENT PCT-QueryCompoundEL_activity (PCT-CLByBioActivity)> <!-- PubChem Compound Entrez limits by biological activity -->

<!ELEMENT PCT-QueryCompoundEL_links (PCT-CLByLinks)> <!-- PubChem Compound Entrez limits by entrez links -->

<!ELEMENT PCT-QueryCompoundEL_category (PCT-CLByString)> <!-- PubChem Compound Entrez limits by depositor category -->

<!ELEMENT PCT-QueryCompoundEL_source (PCT-CLByString)> <!-- PubChem Compound Entrez limits by data source -->

<!-- {Input} PubChem Compound Entrez Limits Search -->
<!ELEMENT PCT-CLByProperty (
        PCT-CLByProperty_type, 
        PCT-CLByProperty_range)>

<!ELEMENT PCT-CLByProperty_type (#PCDATA)>

<!--
    mw	-  Molecular Weight                 (FLOAT)
    xlogp	-  xLogP                            (FLOAT)
    hbd	-  Count of Hydrogen Bond Donors    (INTGER)
    hba	-  Count of Hydrogen Bond Acceptors (INTEGER)
    rb	-  Count of Rotatable Bonds         (INTEGER)
    tpsa	-  Topological Polar Surface Area   (FLOAT)
    ha	-  Count of Heavy Atoms             (INTEGER)
    isotope	-  Count of Specified Isotopes      (INTEGER)
    tautomer	-  Count of Tautomers               (INTEGER)
    cu	-  Count of Covalent Units          (INTEGER)
    complexity	-  Structure Complexity             (FLOAT)
    charge	-  Formal Charge                    (INTGER)
-->
<!ATTLIST PCT-CLByProperty_type value (
        mw |
        xlogp |
        hbd |
        hba |
        rb |
        tpsa |
        ha |
        isotope |
        tautomer |
        cu |
        complexity |
        charge
        ) #IMPLIED >


<!ELEMENT PCT-CLByProperty_range (
        PCT-CLByProperty_range_frange | 
        PCT-CLByProperty_range_irange)>

<!ELEMENT PCT-CLByProperty_range_frange (PCT-CLFloatRange)> <!-- Floating Point Range Specification -->

<!ELEMENT PCT-CLByProperty_range_irange (PCT-CLIntegerRange)> <!-- Integer Point Range Specification -->

<!-- {Input} PubChem Compound Entrez Limits Floating Point Search Range -->
<!ELEMENT PCT-CLFloatRange (
        PCT-CLFloatRange_lower, 
        PCT-CLFloatRange_upper)>

<!ELEMENT PCT-CLFloatRange_lower (#PCDATA)> <!-- Lower bound of the search range -->

<!ELEMENT PCT-CLFloatRange_upper (#PCDATA)> <!-- Upper bound of the search range -->

<!-- {Input} PubChem Compound Entrez Limits Floating Point Search Range -->
<!ELEMENT PCT-CLIntegerRange (
        PCT-CLIntegerRange_lower, 
        PCT-CLIntegerRange_upper)>

<!ELEMENT PCT-CLIntegerRange_lower (#PCDATA)> <!-- Lower bound of the search range -->

<!ELEMENT PCT-CLIntegerRange_upper (#PCDATA)> <!-- Upper bound of the search range -->

<!-- {Input} PubChem Compound Entrez Limits Search by Chemical Element -->
<!ELEMENT PCT-CLByChemicalElement (
        PCT-CLByChemicalElement_qualifier, 
        PCT-CLByChemicalElement_element)>

<!ELEMENT PCT-CLByChemicalElement_qualifier (#PCDATA)>

<!--
    must	-  Structure must contain
    must-not	-  Structure must not contain
-->
<!ATTLIST PCT-CLByChemicalElement_qualifier value (
        must |
        must-not
        ) #IMPLIED >


<!ELEMENT PCT-CLByChemicalElement_element (PCT-Element)> <!-- Chemical Element -->

<!-- {Input} Elements -->
<!ELEMENT PCT-Element (#PCDATA)>
<!ATTLIST PCT-Element value (
        h |
        he |
        li |
        be |
        b |
        c |
        n |
        o |
        f |
        ne |
        na |
        mg |
        al |
        si |
        p |
        s |
        cl |
        ar |
        k |
        ca |
        sc |
        ti |
        v |
        cr |
        mn |
        fe |
        co |
        ni |
        cu |
        zn |
        ga |
        ge |
        as |
        se |
        br |
        kr |
        rb |
        sr |
        y |
        zr |
        nb |
        mo |
        tc |
        ru |
        rh |
        pd |
        ag |
        cd |
        in |
        sn |
        sb |
        te |
        i |
        xe |
        cs |
        ba |
        la |
        ce |
        pr |
        nd |
        pm |
        sm |
        eu |
        gd |
        tb |
        dy |
        ho |
        er |
        tm |
        yb |
        lu |
        hf |
        ta |
        w |
        re |
        os |
        ir |
        pt |
        au |
        hg |
        tl |
        pb |
        bi |
        po |
        at |
        rn |
        fr |
        ra |
        ac |
        th |
        pa |
        u |
        np |
        pu |
        am |
        cm |
        bk |
        cf |
        es |
        fm |
        md |
        no |
        lr |
        rf |
        db |
        sg |
        bh |
        hs |
        mt |
        ds |
        rg
        ) #IMPLIED >


<!-- {Input} PubChem Compound Entrez Limits Search by StereoChemistry -->
<!ELEMENT PCT-CLByStereo (
        PCT-CLByStereo_qualifier, 
        PCT-CLByStereo_contain)>

<!ELEMENT PCT-CLByStereo_qualifier (#PCDATA)>

<!--
    must	-  Structure must contain
    must-not	-  Structure must not contain
-->
<!ATTLIST PCT-CLByStereo_qualifier value (
        must |
        must-not
        ) #IMPLIED >


<!ELEMENT PCT-CLByStereo_contain (#PCDATA)>

<!--
    fully-specified	-  Structure contains fully-specified stereo
    partially-specified	-  Structure contains partially-specified stereo
    fully-unspecified	-  Structure contains fully-unspecified stereo
-->
<!ATTLIST PCT-CLByStereo_contain value (
        fully-specified |
        partially-specified |
        fully-unspecified
        ) #IMPLIED >


<!-- {Input} PubChem Compound Entrez Limits Search -->
<!ELEMENT PCT-CLByBioActivity (#PCDATA)>
<!ATTLIST PCT-CLByBioActivity value (
        not-tested |
        tested |
        active |
        inactive
        ) #IMPLIED >


<!-- {Input} PubChem Compound Entrez Limits Search -->
<!ELEMENT PCT-CLByLinks (
        PCT-CLByLinks_qualifier, 
        PCT-CLByLinks_db)>

<!ELEMENT PCT-CLByLinks_qualifier (#PCDATA)>

<!--
    must	-  Structure must have
    must-not	-  Structure must not have
-->
<!ATTLIST PCT-CLByLinks_qualifier value (
        must |
        must-not
        ) #IMPLIED >


<!ELEMENT PCT-CLByLinks_db (#PCDATA)>

<!--
    pubmed	-  Link to PubMed Entrez DB
    protein	-  Link to Protein Entrez DB
    mesh	-  Link to MeSH Entrez DB
    pubmed-via-mesh	-  Link to PubMed-via-MeSH
    nucleotide	-  Link to Nucleotide Entrez DB
    protein-3d-structure	-  Link to MMDB Entrez DB
    pharmacological-action	-  Link to MeSH Pharmacological Action
-->
<!ATTLIST PCT-CLByLinks_db value (
        pubmed |
        protein |
        mesh |
        pubmed-via-mesh |
        nucleotide |
        protein-3d-structure |
        pharmacological-action
        ) #IMPLIED >


<!-- {Input} PubChem Compound Entrez Limits Search by String -->
<!ELEMENT PCT-CLByString (
        PCT-CLByString_qualifier, 
        PCT-CLByString_category)>

<!ELEMENT PCT-CLByString_qualifier (#PCDATA)>

<!--
    must	-  Structure must have
    must-not	-  Structure must not have
-->
<!ATTLIST PCT-CLByString_qualifier value (
        must |
        must-not
        ) #IMPLIED >


<!ELEMENT PCT-CLByString_category (#PCDATA)>

